doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/pages.css')
        link(rel='shortcut icon' href='/favicon.ico')
        title=currentFolder
    body
        block content
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/audioLib.js')
