@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
  font-family: 'Roboto', serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.section {
  margin-bottom: 2rem;
}

.align-center {
  text-align: center;
}
