<!DOCTYPE html>
<html lang="en">
  <head>
    <title>eto ne API e123x</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" />
  </head>
  <body>
    <div class="container">
      <div class="section">
        <h1>Eto ne API E123x guide</h1>
      </div>
      <div class="section">
        <h2>Routes</h2>
        <p>Eto ne API E123x has these routes:</p>
        <ul>
          <li>
            <p>
              <a href="/get-folder-data/">/get-folder-data/*</a> — returns info about directory structure in content
              folder;
            </p>
          </li>
          <li>
            <p><a href="/happy-norming/">/happy-norming/</a> — returns cute picture with a wish of a good day;</p>
          </li>
          <li>
            <p><a href="/funny-animals/">/funny-animals/</a> — returns funny picture with animals;</p>
          </li>
          <li>
            <p><a href="/parser/">/parser/</a> — return parsed data from html-pages;</p>
          </li>
        </ul>
        <h2>Usage</h2>
        <p>Here's more detailed info about each route.</p>
        <ul>
          <li>
            <div>
              <h3>get-folder-data</h3>
              <p>Method: GET</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
