html
  head
    title="eto ne API e123x"
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="https://necolas.github.io/normalize.css/8.0.1/normalize.css")
  body
    h1 ;as;f;fa